.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: row;
    width: 48%; /* Adjust width as needed */
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .event-image {
    width: 40%;
    object-fit: cover;
  }
  
  .event-details {
    padding: 20px;
    width: 60%;
  }
  
  .event-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .event-details p {
    margin: 8px 0;
  }
  
  .event-details button {
    margin-top: 15px;
  }
  
  .event-date {
    text-align: right;
    margin-top: 15px;
  }
  .event-details button {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .event-details button:hover {
    background-color: #0056b3; 
  }
    
  